<ion-header>
    <ion-navbar>
        <ion-title>
            Red Chilli Kitchen
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="changeStatus(false)" *ngIf="iscooking">Go Offline</button>
    <button ion-button (click)="changeStatus(true)" *ngIf="!iscooking">Go Online</button>

    <hr>
    <button ion-button (click)="addItem()" *ngIf="!iscooking">Add Menu Item</button>
    <hr>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;name</div>
                <div class="divTableCell">&nbsp;price</div>
                <div class="divTableCell">&nbsp;isVeg</div>
                <div class="divTableCell">&nbsp;description</div>

                <div class="divTableCell">&nbsp;category</div>
            </div>
            <div class="divTableRow" *ngFor="let item of menu">
                <div class="divTableCell"><input type="text" [(ngModel)]="item.name" /></div>
                <div class="divTableCell"><input type="text" /></div>
                <div class="divTableCell"><input type="text" /></div>
                <div class="divTableCell"><input type="text" /></div>

                <div class="divTableCell"><select name="cars">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="fiat">Fiat</option>
                  <option value="audi">Audi</option>
                </select></div>
            </div>
        </div>
    </div>
</ion-content>