<ion-header>
    <ion-navbar>
        <ion-title>
            Red Chilli Kitchen
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="changeStatus(false)" *ngIf="iscooking">Go Offline</button>
    <button ion-button (click)="changeStatus(true)" *ngIf="!iscooking">Go Online</button>
    <span style="
    font-size:  20px;
   
    color: #2abf21;
" *ngIf="iscooking"> Kitchen is now accepting orders!!</span>
    <hr>
    <div *ngIf="!iscooking">
        SET Taxes :
        <input type="number" [(ngModel)]="cgst" /> <button ion-button (click)="setVar('CGST',cgst)">SET CGST</button>
    </div>
    <div *ngIf="!iscooking">
        <input type="number" [(ngModel)]="sgst" /> <button ion-button (click)="setVar('SGST',sgst)">SET SGST</button>
    </div>
    <hr>
    <button ion-button (click)="deleteMenu()" *ngIf="!iscooking">Delete old menu</button>
    <hr>
    <input *ngIf="!iscooking" type="file" name="menu" id="menu" #elem (change)="fileLoad(elem.files[0])">

    <button ion-button (click)="setMenu()" *ngIf="!iscooking">Upload new menu</button>
    <hr>
    <div class="divTable" *ngIf="!iscooking">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;name</div>
                <div class="divTableCell">&nbsp;price</div>
                <div class="divTableCell">&nbsp;isVeg</div>
                <div class="divTableCell">&nbsp;description</div>

                <div class="divTableCell">&nbsp;category</div>
            </div>
            <div class="divTableRow" *ngFor="let item of menu">
                <div class="divTableCell">{{item.name}}</div>
                <div class="divTableCell">{{item.price}}</div>
                <div class="divTableCell">{{item.isVeg}}</div>
                <div class="divTableCell">{{item.description}}</div>

                <div class="divTableCell">{{item.category}}</div>
            </div>
        </div>
    </div>


    <div name="ordersDiv">

    </div>
</ion-content>