<ion-menu [content]="chilliContent">
    <ion-content class="chilly-margin-top-10">
        <ion-list>
            <button ion-item routerLink="/chillymenu" menuToggle>
              Home
            </button>
            <button ion-item routerLink="/myorders" menuToggle>
                My Orders
              </button>
        </ion-list>
    </ion-content>
</ion-menu>
<div #chilliContent class="chilli-full-height">
    <ion-header>
        <div class="rck-header header-height chilli-flex chilli-align-center">
            <div *ngIf="!disableIcon">
                <div *ngIf="!showHamb" class="chilli-flex chilli-align-center back-area" (click)="goBack()">
                    <div class="arrow-padding-left">
                        <i class="left-arrow header-back"></i>
                    </div>
                </div>
                <div *ngIf="showHamb" menuToggle>
                    <div class="rck-hamburger-dimension"></div>
                    <div class="rck-hamburger-dimension"></div>
                    <div class="rck-hamburger-dimension"></div>
                </div>
            </div>
        </div>

    </ion-header>
    <ion-content class="content-bg">
        <router-outlet></router-outlet>
    </ion-content>
</div>