chilly-menu-list {
    .chilli-carousel {
        height: 200px;
        .chilli-c-image {
            height: 100%;
            width: 100%;
        }
    }
    .down-arrow {
        margin-right: 15px;
    }
    .chilli-item-details {
        width: 80%;
    }
    .chilly-add-container {
        width: 20%;
    }
    .chilli-item-name {
        font-weight: bolder;
        font-size: 17px;
    }
    .chilli-item-price {
        padding-left: 5px;
        color: #736565;
    }
    .chilli-item-description {
        font-size: 11px;
        color: #696365;
    }
    .chilli-add,
    .chilli-remove {
        width: 20px;
        height: 100%;
        background-color: #48aaff;
        color: white
    }
    .chilli-add-text {
        padding: 0 10px;
    }
    .view-cart {
        background-color: #515151;
    }
    $image-dim:20;
    .chilli-veg {
        background-image: url('../../assets/imgs/veg-non-veg.jpg');
        height: #{$image-dim}px;
        width: #{$image-dim}px;
        background-repeat: no-repeat;
        background-size:#{$image-dim*2}px;
        background-position: -0px -0px;
    }
    .chilli-non-veg {
        background-position: -#{$image-dim}px -0px;
    }
    .name-margin {
        margin-left: 5px;
    }
}