<!-- Generated template for the MyOrdersComponent component -->
<div *ngIf="!cartItems || !cartItems.length">
    No orders yet!
</div>
<div *ngIf="cartItems && cartItems.length">
    <h1 padding-left>Your Last Order</h1>
    <ion-list padding-bottom>
        <ion-item *ngFor="let item of cartItems">
            <div class="chilly-item-container chilli-flex chilli-row">
                <div class="chilli-item-details chilli-row chilli-flex chilly-space-between">
                    <div class="chilli-item-name">
                        {{item.name}} <span class="numbers-order">X {{item.quantity}}</span>
                    </div>
                    <div class="chilli-item-price">
                        {{(item.price*item.quantity) | currency:"₹":0}}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <div class="chilli-item-details chilli-row chilli-flex chilly-space-between">
                <div class="chilli-item-name">
                    <div>SubTotal</div>
                </div>
                <div class="chilli-item-price">
                    <div>{{subTotal | currency:"₹":0}}</div>
                </div>
            </div>
            <div class="chilli-item-details chilli-row chilli-flex chilly-space-between">
                <div class="chilli-item-name">
                    <div>Taxes and charges(CGST + SGST)</div>
                </div>
                <div class="chilli-item-price">
                    <div>{{taxes | currency:"₹":0}}</div>
                </div>
            </div>
            <div margin-top class="grand-total chilli-item-details chilli-row chilli-flex chilly-space-between chilli-align-center">
                <div>Grand Total</div>
                <div class="chilli-item-price">
                    <div>{{gtotal | currency:"₹":0}}</div>
                </div>
            </div>
        </ion-item>
        <ion-item padding class="chilli-transparent">

        </ion-item>
    </ion-list>
</div>